@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*when description longer than two lines add this styles in project explore page */
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
